/* Overload browser styling: */
html {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow: hidden;
}

body {
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.app {
    background-color: black;
    min-height: 100dvh;
}