/* GOOGLE FONT IMPORTS: */
/* Spicy Rice:  */
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
/* Texturina */
@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');

/* Overload browser styling: */
html {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow: hidden;
}

body {
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


:root {
    --title-font: "Spicy Rice", serif;
    --main-font: "Texturina", serif;
}